
.usercard {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
}

.header {
  margin: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.prin_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 200px;
  height: 40px;
  border-radius: 2px;
  color: #ffff;
  background-color: #000080;
}

